
html,body{
	width:100%;
	height:100%;
	font-size: 14px;
}
.lt-box{
	width:100%;
	height:100%;
	background: url(../images/lt-bj.jpg) no-repeat center center;
	background-size: 100%;
	position:relative;
}
.lt-left{
    display: block;
    width:0.24rem;
    height:0.44rem;
    background: url(../images/lt-left.png);
    background-size: 100%;
    position: absolute;
    left:0.4rem;
    top:0.35rem;
}
.lt-imgbox{
	width:100%;
	height:auto;
	text-align: center;
	padding-top:1.3rem;

}
.lt-imgbox img{
	width:1.95rem;
}
.lt-imgbox p{
	color:#fff;
	font-size: 40px;
	font-weight: 300;
	margin:0.1rem 0 0.36rem;
}
.lt-box .lt-inputbox{
	display: block;
	width:4.5rem;
	height:0.72rem;
	box-sizing:border-box;
	border:1px solid #fff;
	border-radius: 0.36rem;
	margin:0 auto;
	margin-bottom:0.39rem;
}
.lt-box .lt-inputbox img{
	float: left;
	height:0.38rem;
	margin:0.15rem;
}
.lt-box .lt-inputbox input{
	float: left;
	text-align: center;
	border:0;
	width:3.5rem;
	height:0.7rem;
	background: rgba(0,0,0,0);
	color:#fff;
	line-height: 0.7rem;
}
.sumbit{
	display: block;
	width:4.5rem;
	height:0.72rem;
	margin:0.6rem auto 0.2rem;
	text-align: center;
	color:#fff;
	line-height: 0.7rem;
	background: #D2B84B;
	border:0;
	border-radius: 0.36rem;
}
.lt-links{
	width:4rem;
	height:auto;
	margin:0.1rem auto;
}
.lt-links a{
	color:#fff;
	border-bottom:1px solid #13D73B;
	float: left;

}
.lt-links a:nth-child(2){
	float: right;
}
.lt-line{
    width:6.65rem;
	height:1rem;
	margin:1.2rem auto 0;
	overflow: hidden;
	color:#fff;
}

.lt-line .line{
	width:30%;
	height:0.5rem;
	border-bottom:1px solid #fff;
	float: left;
}
.lt-line .con{
	width:40%;
	float: left;
	text-align: center;
	line-height: 1rem;
}
.lt-line .line:nth-child(3){
	float: right;
}
.three-lgoin{
	width:5.91rem;
	margin:0 auto;
	overflow: hidden;
	height:auto;
	text-align: justify;
}
.three-lgoin li{
	width:33.33333%;
	float: left;
	text-align: center;
}
.three-lgoin a{
	color:#fff;
}
.three-lgoin a img{
	height:0.49rem;
	display: block;
	margin:0 auto;
	margin-bottom:0.1rem;
}
