@import url(base.css);
html,body{
	height:100%;
}
body{
	display: flex;
    flex-direction: column;
    flex-grow: 1;
}
section.head{
	overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
}
header{
	width: 100%;
	height: 0.88rem;
	background-color: #2B3139;
	padding:0 0.5rem;
	box-sizing: border-box;
	display: flex;
	align-items:center;
	justify-content: space-between;
}
header img{
	height:0.35rem;
}
header a{
	font-size: 0;
}
header span{
	font-size: 16px;
	color:#DBD87B;
}
.yy_bac a{
	display: block;
}
.yy_box{
	position: relative;
	width:100%;
	overflow: auto;
    flex-grow: 1;
}
.yy_cover{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	display: none;
	opacity: 0;
}
.yy_cover .yy_center{
	width: 5.36rem;
	height: 5.36rem;
	background: #6A6969;
	left: 1.07rem;
	top: 3rem;
	position: absolute;
	z-index: 99;
}
.yy_cover .yy_center .yy_wenzhang{
	width: 2.64rem;
	height: 2.64rem;
	position: absolute;
	left: -1rem;
	top: -1rem;
}
.yy_cover .yy_center .yy_wenzhang img{
	width: 2.64rem;
}
.yy_cover .yy_center .yy_zuopin{
	width: 2.64rem;
	height: 2.64rem;
	position: absolute;
	top:-1rem;
	left: 3.72rem;
}
.yy_cover .yy_center .yy_zuopin img{
	width: 2.64rem;
}
.yy_cover .yy_center .yy_dongxiao{
	width: 2.64rem;
	height: 2.64rem;
	position: absolute;
	left: -1rem;
	top: 3.72rem;
}
.yy_cover .yy_center .yy_dongxiao img{
	width: 2.64rem;
}
.yy_cover .yy_center .yy_jiaocheng{
	width: 2.64rem;
	height: 2.64rem;
	position: absolute;
	top: 3.72rem;
	left: 3.72rem;
}
.yy_cover .yy_center .yy_jiaocheng img{
	width: 2.64rem;
}
.yy_nav{
	width: 100%;
	height: .88rem;
	background-color: #1F1F22;
	overflow: hidden;
}
.yy_nav .link-box{
	width:auto;
	height:0.88rem;
	padding:0 0.2rem;
}
.yy_nav .link-box a{
	font-size:12px;
	color: #7D94A8;
	display: block;
	text-align: center;
	width:1.22rem;
	height: .88rem;
	line-height: .88rem;
	float: left;
}
.yy_nav span{
	font-size: 12px;
	color: #373C42;
	float: left;
	line-height: 0.88rem;
}
section.yy_list{
	width:100%;
	height:auto;
	box-sizing:border-box;
	padding:0.24rem;
}
section.yy_list ul{
	width:100%;
	height:auto;
}
section.yy_list ul li{
	width:100%;
	height:4.43rem;
	margin-bottom:0.24rem;
}
section.yy_list ul li .img-box{
	display: block;
	width:100%;
	height:3.13rem;
	overflow: hidden;
}
section.yy_list ul li .img-box img{
	width:100%;
}
section.yy_list ul li .content{
	width:100%;
	height: 1.1rem;
	box-sizing:border-box;
	padding:0.16rem;
}
section.yy_list ul li .content .left{
	width:auto;
	height:100%;
	font-size: 12px;
	color:#555;
	float: left;
	margin-right:0.03rem;
}
section.yy_list ul li .content .left p:nth-of-type(1){
	font-size: 16px;
	color:#333;
}
section.yy_list ul li .content .center{
	display: block;
	width:4.3rem;
	height:100%;
    font-size: 14px;
    color:#555;
    float: left;
}
section.yy_list ul li .content .center p{
	margin:0.05rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
section.yy_list ul li .content .right{
   float: right;
   width:auto;
   height:100%;
   font-size: 12px;
   color:#555;
}
section.yy_list ul li .content .right p{
	margin:0.05rem 0;
}
section.yy_list ul li .content .right img{
	height:12px;
}
/*底部*/
.lb-footer{
    width: 100%;
    height: 0.98rem;
    box-shadow: 0 0.15rem 0.9rem #ccc;
    background: #fff;
    flex-grow: 0;
    flex-shrink: 0;
}
.lb-footer .lb-footer-con{
    width: 5.16rem;
    margin: 0 auto;
}
.lb-footer .lb-footer-con span{
    width: 33.3333%;
    display: block;
    float: left;
    font-size: 0.26rem;
    line-height: 0.98rem;
    text-align: center;
}
.lb-footer .lb-footer-con span a{
    color: #677c8e;
}
.lb-footer .lb-footer-con .lb-footer-hover{
    font-size: 0.36rem;
    color:#0f1b26;
}
* {
  box-sizing: border-box;
}
.left-box {
  position: absolute;
  top: 0;
  left: -6.3rem;
  width: 5.66rem;
  height: 100%;
  z-index: 99;
  box-shadow: 0.15rem 0 25px 0.1rem rgba(0, 0, 0, 0.2);
  background: #ffffff url(../images/ly-bg.png) no-repeat top center / 100%;
  background-position-y: -1rem;
}
.left-box .portrait {
  width: 1.51rem;
  height: 1.51rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -0.75rem;
  top: 1.14rem;
  border: 1px solid #fff;
}
.left-box .name {
  font-size: .24rem;
  color: #fff;
  position: absolute;
  top: 2.8rem;
  left: 50%;
  transform: translate(-50%);
}
.left-box .item-box {
  width: 100%;
  position: absolute;
  top: 4rem;
}
.left-box .item-box .item {
  width: 100%;
  height: .99rem;
  text-align: center;
  line-height: .55rem;
  border-bottom: 2px solid #E7E7E7;
  position: relative;
}
.left-box .item-box .item .icon {
  background: #000;
  position: absolute;
  top: .28rem;
  left: .69rem;
}
.left-box .item-box .item .item-name {
  font-size: .34rem;
  color: #1D252D;
}
.left-box .item-box .item:nth-of-type(1) .icon {
  width: .4rem;
  height: .35rem;
  background: url(../images/ly-copy.png) no-repeat center center / 100%;
}
.left-box .item-box .item:nth-of-type(2) .icon {
  width: .43rem;
  height: .43rem;
  background: url(../images/ly-aboutus.png) no-repeat center center / 100%;
}
.left-box .item-box .item:nth-of-type(3) .icon {
  width: .4rem;
  height: .37rem;
  background: url(../images/ly-yj.png) no-repeat center center / 100%;
}
.left-box .item-box .item:nth-of-type(4) .icon {
  width: .43rem;
  height: .43rem;
  background: url(../images/ly-sj.png) no-repeat center center / 100%;
}
.left-box .out {
  width: 3.3rem;
  height: .73rem;
  position: absolute;
  bottom: 1.56rem;
  left: 50%;
  transform: translate(-50%);
  background: url(../images/ly-tc.png) no-repeat center center / 100%;
}
.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: none;
}

.more-mask{
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;left:0;
  z-index: 2;
  display: none;
  background-color:rgba(0,0,0,.5);
}
.more-mask .hidden-box{
	width:5.36rem;
	height:5.36rem;
	position:absolute;
	top:0;left:0;right:0;bottom:0;
	margin:auto;
	transform:scale(0);
}

.more-mask .hidden-box .links{
	display:bolck;
	width:2.63rem;
	height:2.63rem;
	background:red;
	float:left;
}
.more-mask .hidden-box .links:nth-of-type(1){
	background:url(../images/yy_effect_01.png)no-repeat center center/100%;
	margin:0 0.1rem 0 0;
}
.more-mask .hidden-box .links:nth-of-type(2){
	background:url(../images/yy_effect_02.png)no-repeat center center/100%;
}
.more-mask .hidden-box .links:nth-of-type(3){
	background:url(../images/yy_effect_03.png)no-repeat center center/100%;
	margin:.1rem .1rem 0 0;
}
.more-mask .hidden-box .links:nth-of-type(4){
	background:url(../images/yy_effect_04.png)no-repeat center center/100%;
	margin:.1rem 0 0 0;
}

.more-mask .hidden-box.active{
	transition:transform .5s;
	transform:scale(1);
}