* {
  box-sizing: border-box;
}
.head {
  widith: 100%;
  height: .88rem;
  background-color: #2b3139;
  padding: .26rem .5rem 0;
  position: relative;
}
.head .self {
  width: .35rem;
  height: .4rem;
  margin-top: -0.02rem;
  float: left;
  background: url(../images/ly-icon.png) no-repeat top left / cover;
}
.head .logo {
  width: 1.4rem;
  height: .35rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url(../images/ly-logo.png) no-repeat center center / cover;
}
.head .more {
  width: .35rem;
  height: .35rem;
  float: right;
  background: url(../images/ly-icon.png) no-repeat top right / cover;
}
.nav-box {
  width: 100%;
  height: .89rem;
  background-color: #22272e;
}
.left-box {
  position: absolute;
  top: 0;
  left: -6.3rem;
  width: 5.66rem;
  height: 100%;
  z-index: 99;
  box-shadow: 0.15rem 0 25px 0.1rem rgba(0, 0, 0, 0.2);
  background: #ffffff url(../images/ly-bg.png) no-repeat top center / 100%;
  background-position-y: -1rem;
}
.left-box .portrait {
  width: 1.51rem;
  height: 1.51rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -0.75rem;
  top: 1.14rem;
  border: 1px solid #fff;
}
.left-box .name {
  font-size: .24rem;
  color: #fff;
  position: absolute;
  top: 2.8rem;
  left: 50%;
  transform: translate(-50%);
}
.left-box .item-box {
  width: 100%;
  position: absolute;
  top: 4rem;
}
.left-box .item-box .item {
  width: 100%;
  height: .99rem;
  text-align: center;
  line-height: .55rem;
  border-bottom: 2px solid #E7E7E7;
  position: relative;
}
.left-box .item-box .item .icon {
  background: #000;
  position: absolute;
  top: .28rem;
  left: .69rem;
}
.left-box .item-box .item .item-name {
  font-size: .34rem;
  color: #1D252D;
}
.left-box .item-box .item:nth-of-type(1) .icon {
  width: .4rem;
  height: .35rem;
  background: url(../images/ly-copy.png) no-repeat center center / 100%;
}
.left-box .item-box .item:nth-of-type(2) .icon {
  width: .43rem;
  height: .43rem;
  background: url(../images/ly-aboutus.png) no-repeat center center / 100%;
}
.left-box .item-box .item:nth-of-type(3) .icon {
  width: .4rem;
  height: .37rem;
  background: url(../images/ly-yj.png) no-repeat center center / 100%;
}
.left-box .item-box .item:nth-of-type(4) .icon {
  width: .43rem;
  height: .43rem;
  background: url(../images/ly-sj.png) no-repeat center center / 100%;
}
.left-box .out {
  width: 3.3rem;
  height: .73rem;
  position: absolute;
  bottom: 1.56rem;
  left: 50%;
  transform: translate(-50%);
  background: url(../images/ly-tc.png) no-repeat center center / 100%;
}
.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: none;
}
